body {
    font-family: Bebas Neue, sans-serif;
    margin: 0;
    overflow: hidden; /* Blokowanie przewijania strony */
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.login-box {
    background-color: rgba(50, 50, 50, 0.8); /* Przezroczyste tło */
    padding: 50px; /* Margines wewnętrzny */
    border-radius: 10px;
    max-width: 100%; /* Maksymalna szerokość */
}

.login-box h1 {
    margin-bottom: 0px; /* Dodatkowy odstęp pod nagłówkiem */
    margin-top: 0px;
    color: #fff; /* Kolor tekstu */
    text-align: center;
    letter-spacing: 3px;
}

.login-box input[type="password"] {
    width: 93%; /* Szerokość pola hasła */
    height: 20%;
    padding: 10px; /* Dostosowanie wypełnienia */
    margin-bottom: 35px; /* Dodatkowy odstęp na dole pola hasła */
    border-radius: 5px; /* Zaokrąglenie rogów */
    border: 1px solid #ccc; /* Dodanie obramowania */
    font-size: 20px;
}

.login-box button {
    width: 100%; /* Szerokość przycisku */
    padding: 10px; /* Dostosowanie wypełnienia */
    border: none; /* Usunięcie obramowania */
    border-radius: 5px; /* Zaokrąglenie rogów */
    background-color: #6B8E23; /* Kolor tła przycisku */
    color: #fff; /* Kolor tekstu */
    cursor: pointer; /* Kursor wskazujący na przycisk */
    transition: background-color 0.3s ease; /* Płynne przejście koloru tła */
    margin-bottom: 7px;
    font-size: 15px;
}

.login-box button:hover {
    background-color: #555; /* Kolor tła przycisku po najechaniu */
}

.container {
    display: none; /* Ukrycie zawartości do czasu zalogowania */
    height: 100vh;
    background-image: url('images/bg.jpg'); /* Dodaj tło */
    background-size: cover;
    background-position: center;
    transition: background-position 0.5s ease;
    position: relative; /* Ustawienie pozycji na relative */
}

.logo-container {
    display: flex; /* Używamy flexbox */
    flex-direction: column; /* Wyśrodkowanie zawartości w pionie */
    align-items: center; /* Wyśrodkowanie zawartości w poziomie */
}

.logo img {
    margin-top: 10px;
    max-width: 250px;
    height: auto;
}

.studio-name {
    color: #fff; /* Kolor tekstu */
    font-size: 35px; /* Rozmiar czcionki */
    margin-top: 1px; /* Odsunięcie od logo */
    margin-bottom: 70px;
    text-align: center;
    width: 400px; /* Szerokość napisu */
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button {
    width: 200px;
    height: 200px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    line-height: 2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease;
    z-index: 1;
}

.xprimer-button,
.xprimer-button:after {
  width: 150px;
  height: 150px;
  line-height: 78px;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #4682B4 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.xprimer-button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: '&^#@%$&';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #4682B4 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.xprimer-button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .xprimer-button,
  .xprimer-button:after {
    width: 200px;
    height: 130px;
    line-height: 88px;
  }
}

.planer-button,
.planer-button:after {
  width: 150px;
  height: 70px;
  line-height: 78px;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #B8860B 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #FFD700;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.planer-button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: '&^#@%$&';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #B8860B 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.planer-button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .planer-button,
  .planer-button:after {
    width: 200px;
    height: 130px;
    line-height: 88px;
  }
}

.zlec-button,
.zlec-button:after {
  width: 150px;
  height: 70px;
  line-height: 1;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #228B22 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #32CD32;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.zlec-button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: '&^#@%$&';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #228B22 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.zlec-button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .zlec-button,
  .zlec-button:after {
    width: 200px;
    height: 130px;
    line-height: 1;
  }
}

.inne-button,
.inne-button:after {
  width: 150px;
  height: 70px;
  line-height: 78px;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #696969 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #778899;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.inne-button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: '&^#@%$&';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #696969 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.inne-button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .inne-button,
  .inne-button:after {
    width: 200px;
    height: 130px;
    line-height: 88px;
  }
}




.button:hover {
    background-color: #808080;
    transform: translateY(-10px) scale(1.1);
}

.container, .login-container {
    /* Tworzymy animację przesunięcia tła */
    animation: backgroundMove 10s linear infinite;
    /* Pozostałe style dla kontenera */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: top left; /* Ustawienie początkowej pozycji tła */
    position: relative; /* Ustawienie pozycji na relative */
}

/* Definiujemy animację */
@keyframes backgroundMove {
    0% {
        background-position: top left; /* Początkowa pozycja tła */
    }
    50% {
        background-position: bottom right; /* Połowa czasu - końcowa pozycja tła */
    }
    100% {
        background-position: top left; /* Koniec animacji - powrót do początkowej pozycji tła */
    }
}
.container, .login-container {
    /* Pozostałe style dla kontenera */
    position: relative; /* Ustawienie pozycji na relative */
}

.container::after, .login-container::after {
    content: "Paweł Szulc © 2024"; /* Dodanie tekstu podpisu */
    position: absolute; /* Ustawienie pozycji na absolutne, aby podpis był umieszczony w prawym dolnym rogu kontenera */
    bottom: 10px; /* Odległość od dolnej krawędzi */
    right: 10px; /* Odległość od prawej krawędzi */
    color: #ffffff; /* Kolor tekstu */
    font-size: 20px; /* Rozmiar czcionki */
    letter-spacing: 3px;
}
